/* mark external links with an arrow */
.md-typeset a:not(.md-icon) {
    &[href^="//"]::after,
    &[href^="http://"]::after,
    &[href^="https://"]::after {
        content: "↗";
        font-size: smaller;
        margin-left: .2em;
        vertical-align: top;
    }
}

/* change default code blocks color to red */
/* :root > * {
    --md-code-fg-color: #d52a2a;
  } */

/* change bullet style in nested lists */
 article ul ul {
    list-style-type:  circle !important;
}
article ul ul ul {
    list-style-type:  square !important;
}